body {
  background-color: #133c55;
  color: #aac6e6;
}

.header > a {
  text-decoration: none;
}

.header h1 {
  color: #aac6e6;
  padding: 0 1rem;
  font-size: 48px;
  margin: 0.5rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  background-color: #0c1821;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #8499b1;
}

.description {
  background-color: #0c1821;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  border-bottom: 2px solid #8499b1;
  /* border-left: 2px solid #db7f67;
  border-right: 2px solid #db7f67; */
  padding: 0.5rem;
  padding-bottom: 1rem;
}

a.links {
  display: inline-block;
  padding: 0 1rem;
  text-decoration: none;
  color: #8499b1;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.repo-title {
  font-size: 6rem;
  font-weight: bold;
  margin: 0.5rem;
  color: #aac6e6;
}

.search-result {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0.5rem;
  background-color: #0c1821;
  border-bottom: 2px solid #8499b1;
  border-radius: 3px;
  margin: 1rem;
}

.search-result > a {
  padding-left: 2rem;
  color: #aac6e6;
  font-weight: bold;
  font-size: 1.5em;
  width: 35%;
  min-width: 35%;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  /* border-right: 1px solid #db7f67; */
}

.octicon-link,
.deep-link-icon {
  display: none;
}

input {
  box-sizing: border-box;
  flex-grow: 3;
  align-self: center;
  display: inline-block;
  background-color: #8499b1;
  color: #0c1821;
  padding: 0.5em;
  margin: auto;
  font-size: large;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

input:focus {
  outline: none;
}

button {
  display: inline-block;
  background-color: #8499b1;
  border: none;
  border-left: 2px solid #2e1c2b;
  color: #0c1821;
  font-size: large;
  font-weight: bold;
  padding: 0.5em 1rem;
  margin: auto;
  border-radius: 0 0.5rem 0.5rem 0;
}

button > * {
  text-decoration: none;
  color: #133c55;
}

.imported {
  background-color: #0c1821;
  font-size: larger;
  line-height: 1.75rem;
  color: #aac6e6;
  margin: 2rem;
  padding: 3rem;
  border-radius: 0 0 1rem 1rem;
  border-bottom: 2px solid #8499b1;
}

.imported a {
  text-decoration: none;
  color: #8499b1;
}

.imported:first-child {
  margin-top: 1rem;
  padding-top: 0.5rem;
}

.js-issue-row {
  color: #8499b1;
  margin: 1rem;
  padding: 2rem;
  border-top: 1rem solid #8499b1;
  border-left: 1px solid #8499b1;
  border-right: 1px solid #8499b1;
  border-bottom: 1px solid #8499b1;
  border-radius: 0 0 1rem 1rem;
}

a.IssueLabel::before {
  content: '\A';
  display: block;
}
